.btn {
    &--transp {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-width: 212px;
        height: 45px;
        padding: 15px 25px;
        border: 1px solid $black;
        font-size: 10px;
        font-weight: 300;
        text-transform: uppercase;
        transition: all .3s ease-out;

        &:hover {
            color: #fff;
            background-color: $theme;
            border-color: $theme;
        }
    }
}