.crestory {
    padding: 100px 0 0;

    &__row {
        @media (max-width: 991px) {
            margin: 0;
        }
    }

    &__col {

        &--media,
        &--text {
            padding: 0;
        }

        &--media {
            position: relative;
            min-height: 871px;

            @media (max-width: 991px) {
                min-height: auto;
            }
        }

        &--text {
            padding: 91px 0 65px 85px;

            @media (max-width: 991px) {
                padding: 60px 0 60px 60px;
            }

            @media (max-width: 767px) {
                padding: 40px 0;
            }
        }
    }

    &__media {
        position: absolute;
        top: 0;
        right: 0;
        width: 50vw;
        height: 100%;

        @media (max-width: 991px) {
            position: relative;
            top: auto;
            right: auto;
            width: 100%;
            height: 420px;
        }

        img {
            @include imgfit;
            display: block;
        }
    }

    &__title {
        color: $text-theme;
        font-size: 72px;
        margin-bottom: 83px;

        @media (max-width: 991px) {
            font-size: 48px;
            margin-bottom: 40px;
        }
    }

    &__subtitle {
        color: #000;
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 34px;
        max-width: 420px;
        text-transform: uppercase;
    }

    &__desc {
        margin-bottom: 30px;

        p {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__author {
        p {
            font-weight: 700;
            margin-bottom: 0;
        }
    }

    .logo {
        width: 268px;
        margin-top: 91px;

        img {
            width: 100%;
        }
    }
}