.homebanner {
    position: relative;
    padding: 0;

    &__bg {
        position: relative;
        width: 100%;
        height: 100vh;

        // filter: blur(11px) brightness(118%);
        transition: all .7s ease-out;
        text-align: center;

        @media (max-width: 767px) {
            // height: 600px;
        }
    }

    .img-mask {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: center;

        &:last-child {
            background-color: rgba(255, 255, 255, 0);
            backdrop-filter: blur(11px);
            filter: brightness(118%);

            @-moz-document url-prefix() {
                filter: blur(11px);
                background-color: rgba(255, 255, 255, 0.25);
            }

            img {
                display: none;
            }
        }

        img {
            @include imgfit;

            // height: 100vh;
       
        }
    }

    &.unblur &__bg {
        filter: none;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @media (max-width: 1920px) {
            // padding-top: 240px;
        }

        @media (max-width: 767px) {
            // padding-top: 0;
        }

        .container {
            @media (min-width: 768px) {
                padding: 0;
            }
        }
    }

    &__title {
        font-size: 72px;
        font-weight: 300;
        line-height: 1;
        text-transform: uppercase;
        margin: 16px 0;

        @media (max-width: 767px) {
            font-size: 50px;
        }
    }

    &__desc {
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;

        @media (max-width: 767px) {
            font-size: 16px;
        }

        strong {
            font-weight: 700;
        }
    }

    &__btn {
        margin-top: 15vh;

        @media (max-width: 1920px) {
            margin-top: 80px;
        }

        &:last-child {
            margin-top: 10px;
        }
    }

    .scroll-down {
        position: absolute;
        bottom: 50px;
        right: 55px;
        width: 20px;
        cursor: pointer;

        img {
            width: 100%;
            display: block;
        }
    }
}
