.mleasy {
    overflow-x: hidden;

    .container {
        max-width: 100%;
        padding: 0;
    }

    .scrollmagic-pin-spacer {
        @media (max-width: 991px) {
            min-width: 1px !important;
            width: auto !important;
            height: auto !important;
            min-height: auto !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    .scroll__horizantal {
        padding: 120px 225px 60px 183px;

        @media (max-width: 1920px) {
            padding: 140px 180px 60px 140px;
        }

        @media (max-width: 991px) {
            position: relative !important;
            transform: none !important;
            padding: 80px 20px 40px;
            width: auto !important;
        }
    }

    &__section {
        position: relative;

        &--1 {
            width: 1441px;
            height: 950px;

            @media (max-width: 1920px) {
                height: 660px;
            }

            @media (max-width: 991px) {
                width: 100%;
                height: auto;
            }
        }

        &--2 {
            width: 2461px;
            height: 773px;
            margin-left: -210px;

            @media (max-width: 1920px) {
                height: 650px;
                margin-left: -120px;
            }

            @media (max-width: 991px) {
                width: auto;
                margin-left: 0;
                height: auto;
            }
        }
    }

    &__content {

        &--1,
        &--2 {
            position: absolute;

            @media (max-width: 991px) {
                position: relative;
            }
        }

        &--1 {
            top: 0;
            left: 0;
            width: 300px;

            @media (max-width: 991px) {
                top: auto;
                left: auto;
                width: 100%;
            }
        }

        &--2 {
            bottom: 59px;
            right: 0;
            width: 640px;

            @media (max-width: 991px) {
                bottom: auto;
                right: auto;
                width: 100%;
            }
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    &__media {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1010px;
        height: 893px;

        @media (max-width: 1920px) {
            width: 678px;
            height: 600px;
        }

        @media (max-width: 991px) {
            position: relative;
            bottom: auto;
            left: auto;
            width: 450px;
            height: 398px;
            max-width: 100%;
            margin: 30px auto;
        }

        &-1,
        &-2,
        &-devices {
            position: absolute;
        }

        &-1 {
            z-index: 1;
            top: 0;
            right: 288px;
            width: 336px;

            @media (max-width: 1920px) {
                right: 120px;
                width: 240px;
            }

            @media (max-width: 991px) {
                width: 180px;
            }
        }

        &-2 {
            bottom: 0;
            left: 0;
            width: 554px;

            @media (max-width: 1920px) {
                width: 360px;
            }

            @media (max-width: 991px) {
                width: 240px;
            }
        }

        &-devices {
            z-index: 2;
            top: 39px;
            right: 0;
            width: 379px;

            @media (max-width: 1920px) {
                top: 20px;
                width: 240px;
            }

            @media (max-width: 991px) {
                width: 180px;
            }
        }
    }

    &__lgtext {
        font-size: 72px;
        font-weight: 300;
        text-transform: uppercase;

        @media (max-width: 991px) {
            font-size: 40px;
        }

        @media (max-width: 767px) {
            font-size: 25px;
        }
    }

    &__content {
        &--3 {
            position: relative;
            width: 100%;
            height: 100%;

            @media (max-width: 991px) {
                display: flex;
                flex-flow: column;
                height: auto;
            }

            .mleasy__lgtext {
                z-index: 1;
                position: absolute;
                margin-bottom: 0;

                @media (max-width: 991px) {
                    position: static;
                }

                &:nth-child(1) {
                    top: 97px;

                    @media (max-width: 991px) {
                        top: auto;
                    }
                }

                &:nth-child(2) {
                    color: #fff;
                    top: 360px;
                    left: 50%;
                    transform: translateX(-54%);

                    @media (max-width: 1920px) {
                        top: 280px;
                    }

                    @media (max-width: 991px) {
                        position: absolute;
                        top: 50%;
                        left: 0%;
                        transform: translateY(-50%);
                        transform: none;
                        text-align: center;
                        width: 100%;
                    }
                }

                &:nth-child(3) {
                    bottom: 0px;
                    right: 0px;

                    @media (max-width: 991px) {
                        order: 4;
                        text-align: right;
                    }
                }
            }

            .mleasy__content-mobile {
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 383px;

                @media (max-width: 1920px) {
                    width: 300px;
                }

                @media (max-width: 991px) {
                    position: relative;
                    top: auto;
                    left: auto;
                    text-replace: none;
                    width: 240px;
                    max-width: 100%;
                    @include margin-auto;
                    transform: none;
                }

                @media (max-width: 767px) {
                    width: 180px;
                }
            }
        }
    }
}

.scroll__horizantal {
    @media (min-width: 992px) {
        display: flex;
        width: 4009px;
    }
}